@import "../VARIABLE/theme-color.scss";

.background-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    pointer-events: none;
}
.bg-leftside {
    position: absolute;
    background-color: $white;
    width: 48.9%;
    height: 96.5%;
    top: 1.9%;
    left: 0.9%;
    mix-blend-mode: difference;
}
#leftsiderectangle {
    z-index: 4;
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 100%;
    margin-top: 200vh;
}
.bg-rightside {
    z-index: 0;
    position: absolute;
    background-color: $black;
    width: 49.5%;
    height: 96.5%;
    top: 1.9%;
    left: 49.5%;
}
#clip-shape-1 {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
    padding-right: 1.5%;
}
#clip-shape-2 {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5%;
}
#clip-shape-3 {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
}
#clip-shape-4 {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
    margin-top: -0.2%;
}
.bg-frame {
    z-index: 1;
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 100%;
    transition: 3s;
    overflow: hidden;
    mix-blend-mode: difference;
}
